<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net45" />
  <package id="HtmlSanitizer" version="4.0.187" targetFramework="net45" />
  <package id="Markdig" version="0.15.1" targetFramework="net35" requireReinstallation="true" />
</packages>